.nav-container{
    display: grid;
    margin-left: 40px;
    margin-top: 20px;
    grid-template-columns: 100vh auto auto auto auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* .logo{
    justify-content: flex-start;
    padding-left: 20px;
}
.nav{
    align-content: space-between;
    right: 0px
} */