{%extends 'base.html'%}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    
    <div class= "intro">
        <div class="picture">
            <img src="https://github.com/l-Rich/tabbed/blob/master/with.png?raw=true" style="width: 600px">
        </div>
        <div class="buttons">
            <a class="button" href="{% url 'signup' %}">Sign Up</a> <a class="button" href="{% url 'login' %}">Log In</a>
        </div>
    </div>
{% endblock %}