{%extends 'base.html'%}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/trip_list.css' %}" />

<h1> Upcoming Trips </h1>



    <div class="trips">
      <div class="body">
        {% for trip in trips %}
        <div class="trip"><h5>{{trip.name}}</h5>
        <p class="details">{{trip.country}}, {{trip.state}}, {{trip.city}}</p>
        <a href="{% url 'trip_detail' trip.pk %}">View Details</a>
        <a href="{% url 'trip_delete' trip.pk %}" class="card-link">Cancel</a>
        </div>
        {% endfor %}
      </div>
    </div>
  

{% endblock %}