{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/trip_detail.css' %}" />

<h1>{{trip.name}}</h1>
<h4>Destination</h4>
<p>{{trip.city}},{{trip.state}},{{trip.country}}</p>



{% for activity in trip.activity.all %}

{{activity.name}}
{{activity.price}}

{% empty %}
No Activities have been planned yet
{% endfor %}

{% for lodging in trip.lodging.all %}
{{lodging.name}}
{{lodging.price}}
{{lodging.max_occupants}}
{{lodging.type}}
{% endfor %}

<div>
    <ul>
        <li></li>
    </ul>
</div>

<form action="{% url 'activity_create' trip.pk %}" method="post">
    {% csrf_token %}
    <div>
        <div >
            <input
                class="input"
                type="text"
                name="name"
                placeholder="Name of Activity"
                required
            />
        </div>
        <div>
            <input
                class="input"
                type="number"
                name="price"
                placeholder="Price"
                required
            />
        </div>
        <div>
            <input type="submit" value="Add Activity" />
        </div>
    </div>
</form>

<form action="{% url 'lodging_create' trip.pk %}" method="post">
    {% csrf_token %}
    <div>
        <div >
            <input
                class="input"
                type="text"
                name="name"
                placeholder="Name of Hotel or AirBnB"
                required
            />
        </div>
        <div>
            <input
                class="input"
                type="number"
                name="price"
                placeholder="Price"
                required
            />
        </div>
        <div>
            <input
                class="input"
                type="text"
                name="type"
                placeholder="Hotel or AnirBnB"
                required
            />
        </div>
        <div>
            <input
                class="input"
                type="number"
                name="max_occupants"
                placeholder="How many people can stay"
                required
            />
        </div>
        <div>
            <input type="submit" value="Add Lodging" />
        </div>
    </div>
</form>
{% endblock %}